
#responseMessage {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}


.resultado {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  justify-content: center;
  margin: 2rem auto;
  max-height: 600px;   /* altura máxima da div (ajuste como quiser) */
  overflow-y: auto;    /* barra vertical quando precisar */
  overflow-x: auto;    /* barra horizontal quando precisar */
  border: 1px solid #ccc; /* opcional (só pra visualizar melhor) */
}

.resultado table {
  border-collapse: collapse;
  min-width: 800px; /* força largura mínima */
}

.resultado th,
.resultado td {
  white-space: nowrap; /* evita quebrar texto */
}